/backend_laravel/.phpunit.cache
/backend_laravel/node_modules
/backend_laravel/public/build
/backend_laravel/public/hot
/backend_laravel/public/storage
/backend_laravel/storage/*.key
/backend_laravel/storage/pail
/backend_laravel/vendor
/backend_laravel.env
/backend_laravel.env.backup
/backend_laravel.env.production
/backend_laravel.phpactor.json
/backend_laravel.phpunit.result.cache
/backend_laravelHomestead.json
/backend_laravelHomestead.yaml
/backend_laravelnpm-debug.log
/backend_laravelyarn-error.log
/backend_laravel/auth.json
/backend_laravel/.fleet
/backend_laravel/.idea
/backend_laravel/.nova
/backend_laravel/.vscode
/backend_laravel/.zed

/frontend_react/logs
/frontend_react/*.log
/frontend_react/npm-debug.log*
/frontend_react/yarn-debug.log*
/frontend_react/yarn-error.log*
/frontend_react/build/Release

/frontend_react/node_modules/
/frontend_react/jspm_packages/
/frontend_react/dist/
/frontend_react/typings/

/frontend_react/.npm

/frontend_react/.eslintcache

/frontend_react/.node_repl_history

/frontend_react/*.tgz

/frontend_react/.yarn-integrity

./node_modules
